version: '3'

services:
  app:
    build:
      context: .
      dockerfile: Dockerfile
    container_name: geo-app
    restart: always
    volumes:
      - /git/simple-silex-geolocation:/var/www
    links:
      - db
    ports:
      - "3000:80"
    stdin_open: true
    tty: true
  composer:
    image: composer
    container_name: geo-cp
    volumes:
      - /git/simple-silex-geolocation:/app
    command: install
  db:
    image: mysql:5.7
    container_name: geo-db
    restart: always
    volumes:
      - /git/simple-silex-geolocation/resources/sql:/docker-entrypoint-initdb.d
    environment:
      MYSQL_ROOT_PASSWORD: my_secret_pw_shh
      MYSQL_DATABASE: test
      MYSQL_USER: test_user
      MYSQL_PASSWORD: secret
